extends layout

block content
  h1= title
  p Welcome to #{title}
  if user 
    p You are logged in as #{user.first_name} #{user.last_name}
    a(href='/users/logout') Log out
  else
    a(href='/users/register') Register
    a(href='/users/login') Log in
